# vim:fileencoding=utf-8:ft=conf
#: Color scheme 
foreground   #e6e6dc
background   #002635

# black
color0       #00384d
color8       #517f8d

# red
color1       #c43061
color9       #ff5a67

# green
color2       #7fc06e
color10      #9cf087

# yellow
color3       #f08e48
color11      #ffcc1b

# blue
color4       #1c8db2
color12      #7eb2dd

# magenta
color5       #c694ff
color13      #fb94ff

# cyan
color6       #00cccc
color14      #00ffff

# white
color7       #77929e
color15      #b7cff9
