@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");
pre[class*="language-"] {
  font-family: "Fira Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: 0;
  word-break: normal;
  line-height: 1.5;
  color: rgba(230, 230, 220, 1);
  background-color: rgba(0, 38, 53, 1);
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1rem;
  overflow: auto;
  border-radius: 0.4rem;
}

/* Inline code blocks */
:not(pre) > code {
  overflow: auto;
  padding: 0.3rem;
  border-radius: 0.4rem;
  color: rgba(230, 230, 220, 1);
  background-color: rgba(0, 38, 53, 1);
}
.token.comment {
  color: rgba(119, 146, 158, 1);
}
.token.prolog {
  color: #999;
}
.token.doctype {
  color: #999;
}
.token.tag {
  color: #e2777a;
}
.token.entity {
  color: #67cdcc;
}
.token.atrule {
  color: #cc99cd;
}
.token.url {
  color: #67cdcc;
}
.token.selector {
  color: #cc99cd;
}
.token.string {
  color: rgba(156, 240, 135, 1);
}
.token.property {
  color: rgba(126, 178, 221, 1);
}
.token.important {
  color: #cc99cd;
  font-weight: bold;
}
.token.punctuation {
  color: #ccc;
}
.token.number {
  color: rgba(255, 90, 103, 1);
}
.token.function {
  color: rgba(126, 178, 221, 1);
}
.token.class-name {
  color: #f8c555;
}
.token.keyword {
  color: rgba(28, 141, 178, 1);
}
.token.boolean {
  color: rgba(255, 90, 103, 1);
}
.token.operator {
  color: rgba(240, 142, 72, 1);
}
.token.char {
  color: #7ec699;
}
.token.regex {
  color: rgba(127, 192, 110, 1);
}
.token.variable {
  color: rgba(128, 77, 192, 1);
}
.token.constant {
  color: rgba(192, 110, 110, 1);
}
.token.symbol {
  color: #f8c555;
}
.token.builtin {
  color: #f08e48;
}
.token.attr-value {
  color: #7ec699;
}
.token.deleted {
  color: #e2777a;
}
.token.namespace {
  color: #e2777a;
}
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.preprocessor {
  color: rgba(240, 142, 72, 1);
}
.token.label {
  color: rgba(28, 141, 178, 1);
}
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

div.code-toolbar {
  position: relative;
}
